html {
  box-sizing: border-box;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
  -webkit-backface-visibility: hidden;
}

html, body {
	margin:0;
	padding:0;
	height:100%;
}

a {
  color: $brand-color;
  text-decoration: none;

  @include on-hover-focus {
    color: $text-color;
    text-decoration: underline;
  }

  @include on-active {
  	color: $brand-color;
  	text-decoration: underline;
  }
}
	
.title-wrapper {
	max-width: $max-width;
	margin: 0 auto;
	position: relative;
}

h2.section__title {
	display: inline-block;
	position: absolute;
	margin-top: 5rem;
	font-size: 15rem;
	color: rgba($text-color, 0.1);
}

button {
	border-radius: 35px;
	padding: .5rem 2rem;
	color: $brand-color;
	background: none;
	font-size: .8rem;
	text-transform: uppercase;
	border: none;
	outline: none;
	font-weight: bold;
	letter-spacing: 1.4px;

	transition: all 300ms ease-in-out;

	@include on-hover-focus {
		transform:scale(1.1) !important;
		@include box-shadow(2px, 2px, 4px, rgba(black, 0.1))
	}

	@include on-active {
		transform:scale(1.0) !important;
	}

	&.filled {
		background: $brand-color;
		color: white;
	}
}


.skew--pos {
	transform: skewY(5deg);
}

.skew--neg {
	transform: skewY(-5deg);	
}
