html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  -webkit-backface-visibility: hidden;
} 

a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}

section {
	
	.title-wrapper {
		max-width: $max-width;
		margin: 0 auto;
		position: relative;
	}

	div.section__start {
		content: '';
		border: 5px solid $brand-color;
		display: inline-block;
		width: 45px;
		height: 1px;
	}

	h2.section__title {
		display: inline-block;
		transform: scale(1.6);
		margin-left: 2.25rem;
		color: $brand-color;
	}
}

.skew--pos {
	transform: skewY(5deg);
}

.skew--neg {
	transform: skewY(-5deg);	
}
