section#about {
	
	background: white;
	padding: 8rem 5rem;
	position: relative;
	z-index: 5;
	top: -12rem;

	@media #{$mobile} {
		padding: 8rem 2rem;
	}

	div.content-wrapper {
		max-width: $max-width;
		margin: 0 auto;
		margin-top: 5rem;
		position: relative;

		@media #{$tablet} {
			margin-top: 12rem;
		}

		will-change: transform;

		@include flex;
		flex-flow: row wrap;
	
		.about__left {
			width: 40%;
			padding-top: 4rem;

			@media #{$tablet} {
				width: 100%;
			}	

			.current-block {
				.current__logo {
					max-width: 100px;

					@media #{$tablet} {
						display: none;
					}

					img {
						width: 100%;
					}
				}
				.current__position {
					margin-bottom: 2rem;

					a {
						text-transform: underline !important;
					}

					strong {
						text-transform: uppercase;
						opacity: 0.8;
						font-size: 1.5rem;
					}
				}
			}

			.former-block {

				border-top: 2px solid $brand-color;
				padding: 2rem 0;

				.former__date {
					.former__date__title {
						color: rgba($text-color, 0.5);
					}

					.former__date__hr {
						width: 30px;
						display: inline-block;
						border: 2px solid $brand-color;
						margin: 0.2rem 1rem;
					}
				}
				.former__company {
					padding-top: 0;
				}
			}
		}

		.about__right {
			width: 60%;
			padding: 0 3rem;
			padding-top: 3rem;	
			padding-left: 5rem;
			position: relative;

			@media #{$tablet} {
				width: 100%;
				padding-left: 0;
				padding-right: 0;
			}

			p.about__description {
				color: rgba($text-color, 0.8);

				@media #{$tablet} {
					font-size: 1.2rem;
					line-height: 1.8;
				}
			}

			.company-block {

				@include flex;
				flex-flow: row wrap;

				.company {
					width: 25%;
					margin: 1rem 0;
					padding: 0 0.5rem;
					opacity: 0.5;
					border: 1px solid #ddd;

					img {
						width: 100%;
						margin: 0 auto;
						display: block;
					}
				}
			}
		}

		.about__music {
			width: 100%;
			margin-top: 5rem;
			background: url('../assets/music_back.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
			padding-bottom: 5rem;

			@media #{$tablet} {
				display: none;
			}

			@include flex;
			flex-flow: row wrap;
			
			p.about__music__description {
				color: white;
				padding: 0 7rem;
				padding-top: 6rem;
				width: 100%;
				max-width: 600px;
				display: block; 
				font-size: 1.5rem;
				line-height: 1.5;
				position: relative;

				@media #{laptop} {
					width: 75%;
				}

				span.quote__mark {
					color: rgba(white,0.2);
					font-size: 15rem;
					font-family: cursive;
					position: absolute;
					top: -5rem;
					left: 2rem;
					display: none;
				}
				
				span.currently {
					font-size: 0.75rem;
					text-transform: uppercase;
					opacity: 0.8;
					position: relative;
					left: 6rem;
				}

				span.about__music__title {
					color: rgba(white,0.8);
					text-transform: capitalize;
					position: relative;
					left: 6rem;

					span.about__music__title__song {
						color: white;
						text-transform: capitalize;
					}
				}
			}

			ul.about__music__bars {
				  left: 7rem;
			    position: absolute;
			    bottom: 5.5rem;
			    height: 5rem;
			    font-size: 0;
			    overflow: hidden;
				  
				  li {
				    display: inline-block;
				    width: .8rem;
				    height: 100%;
				    margin: 0 .1rem;
				    border-radius: 2px;
				    list-style: none;
				    background: #fff;
				    
				    transform: translateY(4.5rem);
				    animation: bounce 1.2s infinite ease-in-out;
				    
				    @for $i from 1 through 5 {
				      
				      $time: random(18) * 0.1;
				      
				      &:nth-of-type(#{$i}) {
				        animation-delay: $time + s;
				      }
				    }
				  }
				}

				@keyframes bounce {
				  0% {
				    transform: translateY(4.5rem);
				  }
				  50% {
				    transform: translateY(.25rem);
				  }
				  100% {
				    transform: translateY(4.5rem);
				  }
				}

		
			.about__music__image {
				width: 50%;
				padding: 3rem;
				position: relative;
				top: 2rem;
				display: inline;
		
				@keyframes rotate__cover {
					from {
						transform: rotate(0deg);
					}
					to {
						transform: rotate(360deg);
					}
				}
		
				@-webkit-keyframes rotate__cover {
					from {
						transform: rotate(0deg);
					}
					to {
						transform: rotate(360deg);
					}
				}
		
				img.album__art {
					border-radius: 50%;
					vertical-align: middle;
					max-width: 300px;
					width: 100%;
					padding: .5rem;
					background: rgba(white,0.05);
					border: 1px solid rgba(white,0.5);
					display: block;
					margin: 0 auto;
		
					animation: rotate__cover 25s linear infinite;
				}
		
				img.about__music__vinyl {
					position: absolute;
					left: 0;
					right: 0;
					top: 3rem;
					z-index: 10;
					max-width: 300px;
					width: 100%;
					padding: .5rem;
					opacity: 0.3;
					display: block;
					margin: 0 auto;
					animation: rotate__cover 24s linear infinite;
				}
			}
		}
	}
}