section#about {
	
	background: white;
	padding: 5rem 5rem;
	position: relative;
	z-index: 5;
	top: -12rem;

	div.content-wrapper {
		max-width: $max-width;
		margin: 0 auto;
		margin-top: 5rem;
		position: relative;

		@include flex;
		flex-flow: row wrap;
	
		.about__image {
			width: 50%;	
			height: 600px;
			background-image: url('../assets/about.jpg');
			background-size: 100%;
			background-color: white;
			background-blend-mode: multiply;
			opacity: 0.5;
		}

		.about__me {
			width: 50%;
			padding: 0 3rem;

			.former-block {
				.former__position {
					margin-bottom: 2rem;

					a {
						text-transform: underline !important;
					}

					strong {
						text-transform: uppercase;
						opacity: 0.8;
					}
				}

				.former__description {
					color: rgba($text-color, 0.8)
				}
			}

			.company-block {

				@include flex;
				flex-flow: row wrap;

				.company {
					width: 25%;
					margin: 1rem 0;
					padding: 0 0.5rem;
					opacity: 0.5;
					border: 1px solid #ddd;

					img {
						width: 100%;
						margin: 0 auto;
						display: block;
					}
				}
			}
		}

		.about__process {
			width: 100%;
			margin-top: 2rem;
			padding: 2rem 0;

			@include flex;
			flex-flow: row wrap;
			justify-content: space-around;

			.process__intro {
				width: 100%;
				// text-align: center;

				a#process__toggle {

					cursor: pointer;
					float: right;
					margin-right: 1rem;
				}
			}
			
			.process__block {
				width: 40%;
				margin: 1rem 1rem;

				h6 {

					img {
						position: relative;
						top: 0.5rem;
						margin-right: 1rem;
					}
				}

				p.caption {

					transition: all 300ms ease-in-out;
					border-bottom: 1px solid $light-grey;
					padding-bottom: 1.5rem;
					padding-left: 3.25rem;
					cursor: hand;


					&:hover {
						color: $text-color;
					}
				}
			}
		}

		.about__process2 {

			width: 100%;
			
			@include flex;
			flex-flow: row wrap;

			.process2__block {
				width: 100%;
				height: 200px;
				padding: 2rem;
				position: relative;
				
				img {
					height: 60px;
					width: 60px;
					position: absolute;
					top: 70px;
				}

				&.process2__block--left {

					img {
						left: 25%;
					}
				}
			}
		}

		.about__travel {

			width: 100%;

			&.process__details--open {
				margin-top: 5rem;
			}
			
			.travel__wrapper {
				@include flex;
				flex-flow: row wrap;

				max-width: $max-width;

				.travel__block {

					width: 25%;
					height: 300px;

					img {
						width: 100%;
					}

					&.travel__block--big {
						width: 50%;

						img {
							height: 300px;
						}
					}

				}	
			}

			a {
				float: right;
				margin-top: 2rem;
			}
		}
	}
}