#contact-title {
	position:relative;
	z-index: 30;
	top: -44rem;
	

	h2.section__title {
		line-height: 1;
		color: rgba(white,0.5);
		transform: skewY(-5deg);	
	}

	.section__start {
		margin-top: 2rem;
	}
}

section#contact {
	position: relative;
	top: -34rem;
	z-index: 20;

	.title-wrapper {
		position: relative;
		z-index: 25;
	}

	.contact__front-img {
		position: relative;
		top: 19.5rem;
		left: 0;
		z-index: 30;
		overflow-x: hidden;
	}

	.contact__back-img {
		position: absolute;
		top: 0;
		left: 0;
		overflow-x: hidden;
	}

	.content-wrapper {
		position: absolute;
		z-index: 50;
		float: right;
		width: 100%;
		top: 50rem;
		padding-left: 8rem;

		@include flex;
		flex-flow: row wrap;

		color: white;

		h2.contact__heading {
			color: white;
			letter-spacing:1px;
			width: 100%;
		}

		.contact__description {
			width: 25%;
			margin-right: 10rem;
		}

		ul.contact__list {
			list-style: none;
			width: 40%;

			li {
				display: inline-block;
				width: 50%;
				line-height: 40px;
				margin-bottom: 2rem;
				img {
					width: 25px;
					max-height: 27px;
					position: relative;
					vertical-align: middle;
				}

				span {
					margin-left: 1rem;
					color: white;

					@include on-hover-focus {
						color: $brand-color;
					}
				}
			}
		}

		button {
			margin-top: 2rem;
			width: 100%;
		}
	}
}