section#home {
	width: 100%;
	height: 110vh;
	min-height: 800px;
	background: #EEE;
	z-index: 0;
	padding: 2rem;
	position: relative;

	will-change: transform, opacity;

	h6.title {
		color: $brand-color;
		font-size: 0.75rem;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
	}

	.hero-image-container {
		position: absolute;
		right:0;
		top: 0;
		width: 50%;
		max-height: 90vh;

		@media #{$tablet} {
			right: auto;
			left: 2rem;
		}

		@media #{$mobile} {
			left: 0;
		}

		img.hero-image {
			width: 100%;
		}
	}
	

	.hero-wrapper {
		position: absolute;
		top: 25%;
		z-index: 5;

		@media #{$tablet} {
			top: 35%;
		}
		

		@media #{$mobile} {
			padding-right: 2rem;
			padding-left: 1rem;
			top: 30vh;
		}

		span.hero-hello {
			margin-left: 5.1rem;
			font-size: 1.5rem;

			@media #{$mobile} {
				margin-left: 0;
			}
		}

		h1.hero-text {
			color: $brand-color;
			font-size: 4rem;
			margin-left: 5rem;
			line-height: 1;

			@media #{$mobile} {
				margin-left: 0;
				padding-right: 2rem;
			}
		}

		p.hero-description {
			color: $text-color;
			font-size: 2rem;
			margin-left: 5rem;
			margin-top: 1rem;
			margin-bottom: 3rem;

			@media #{$mobile} {
				margin-left: 0;
				margin-top: -1.5rem;
				line-height: 1.2;
			}

			span.dot {
				color: $brand-color;
				font-size: 5rem;
				bottom: .3rem;
				position: relative;

				// &:after {
				// 	@media #{$mobile} {
				// 		content: "\A";
    //  				white-space: pre; 
				// 	}
				// }
			}
		}

		button.hero-button:first-of-type {
			margin-left: 5rem;


			@media #{$mobile} {
				margin-left: 0;
				margin-top: 0;
				width: 100%;
			}
		}

		button.hero-button {
			margin-left: 2rem;

			@media #{$mobile} {
				margin-left: 0;
				margin-top: 2rem;
				width: 100%;
			}
		}
	}
}