body{
	
}

section#home {
	width: 100%;
	height: 110vh;
	min-height: 800px;
	background: #EEE;
	z-index: 0;
	padding: 2rem;
	position: relative;

	h6.title {
		color: $brand-color;
		font-size: 0.75rem;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
	}

	img.hero-image {
		position: absolute;
		right:0;
		top: 0;
		opacity: 0.5;
		@include transform(scaleX(-1));
	}

	.hero-wrapper {
		position: absolute;
		top: 20%;
		z-index: 5;

		span.hero-hello {
			margin-left: 5.1rem;
			font-size: 1.5rem;
		}

		h1.hero-text {
			color: $brand-color;
			font-size: 4rem;
			margin-left: 5rem;
		}

		p.hero-description {
			color: $text-color;
			font-size: 2rem;
			margin-left: 5rem;
			margin-bottom: 3rem;

			span.dot {
				color: $brand-color;
				font-size: 5rem;
				bottom: .3rem;
				position: relative;
			}
		}

		button.hero-button:first-of-type {
			margin-left: 5rem;
		}

		button.hero-button {
			margin-left: 2rem;
		}
	}
}