#portfolio-title {
	position:relative;
	z-index: 10;
	top: -10rem;
	margin-left: 8rem;

	@media #{$mobile} {
		margin-left: 2rem;
	}

	.section__start {
		margin-top: 2rem;
		margin-left: 0.5rem;
	}
}

section#portfolio {
	width: 100%;
	top: -25rem;
	position: relative;
	z-index: 3;
	background: #F4F1BB;

	.content-wrapper {
		margin: 0 auto;

		.portfolio-block {
			top: 10rem;
			position: relative;
			min-height: 90vh;
			width: 100%;

			&:nth-child(1) {
				.portfolio-content {
					padding-top: 15rem;						
				}
			}

			&:nth-child(3) {
				padding-bottom: 15rem;

				@media #{$mobile} {
					padding-bottom: 5rem;
				}

				.portfolio__image {
					margin-top: 2rem;
				}
			}

			.portfolio-content {
				display: block;
				padding: 15rem 5rem 5rem 5rem;
				@include flex;
				flex-flow: row nowrap;
				justify-content: space-around;
				max-width: $max-width;
				margin: 0 auto;

				@media #{$laptop} {
					padding-left: 5rem;
					padding-top: 10rem;
				}

				@media #{$mobile} {
					flex-flow: column-reverse wrap;
					padding-left: 2rem;
					padding-right: 2rem;
					padding-top: 2rem;
				}

			}
			

			.portfolio__image {
				width: 50%;
				z-index: 10;
				margin-top: 5rem;
				transition: opacity 300ms ease-in;

				will-change: transform, opacity;

				img {
					width: 100%;
					// transform: scaleX(-1);
				}

				@media #{$mobile} {
					width: 100%;
					margin-top: 2rem;
				}
			}

			.portfolio__description {

				width: 50%;
				margin-top: 1rem;
				z-index: 10;
				transition: opacity 300ms ease-in;

				@media #{$mobile} {
					width: 100%;
				}

				h1.portfolio__title {
					font-size: 3.5rem;
					display: inline-block;
					// color:white;
					line-height: 1.2;

					will-change: transform, opacity;

					@media #{$mobile} {
						font-size: 2.5rem;
					}
				}

				p.portfolio__info {
					margin-bottom: 2rem;
					margin-top: 0.5rem;
					// color: white;
					max-width: 400px;

					will-change: transform;
				}

				button.button--case-study {
					background: $brand-color;
					color: white;
					opacity: 0.2;

					will-change: transform, opacity;

					@media #{$mobile} {
						width: 100%;
					}
				}
			}

			.portfolio__back {
				position: absolute;
				top: 20%;
				left: 0;
				z-index: 0;
				width: 100%;
				opacity: 0;

				img {
					width: 100%;
					height: auto;
				}
			}

			&:nth-child(1) {
				background: #F4F1BB;
			}

			&:nth-child(2) {
				background: #B2F7EF;

				.portfolio-content {
					padding-top: 8rem;
					padding-bottom: 8rem;

					@media #{$mobile} {
						padding-top: 1rem;
					}
				}
			}

			&:nth-child(3) {
				background: #7BDFF2;

				.portfolio-content {
					padding-top: 8rem;
					padding-bottom: 8rem;

					@media #{$mobile} {
						padding-top: 1rem;
					}
				}
			}
		}
		
		&:nth-child(2) {
			background: white;
			padding: 8rem 2rem 8rem 2rem;
			position: relative;
			top: -5rem;

			@media #{$laptop} {
				top: 5rem;
			}

			.skew--neg {
				max-width: $max-width;
				margin: 0 auto;
				@include flex;
				flex-flow: row wrap;
				justify-content: space-between;

				h2 {
					width: 100%;
					margin-left: 3rem;

					@media #{$mobile} {
						margin-left: 0;
					}
				}
			}
		
			.portfolio__gettoknow {
				width: 50%;
				padding: 2rem 3rem;
				display: inline-block;

				will-change: transform, opacity;

				@media #{$mobile} {
					width: 100%;
					padding-left: 0rem;
					padding-right: 0rem;
				}

				p.caption {
					font-size: 1rem;
					line-height: 2;
				}

				&.portfolio__soft-stack {
					width: 100%;

					.row {
						width: 100%;
						display: block;
						@include flex;
						flex-flow: row no-wrap;
						justify-content: space-around;

						@media #{$mobile} {
							flex-flow: row wrap;
						}				
					}

					h3 {
						width: 100%;
						margin-bottom: 4rem;
						text-align: center;
					}

					.portfolio__soft-stack__block {
						max-width: 180px;
						width: 15%;
						margin-right: 2rem; 
						margin-bottom: 4rem;
						display: inline-block;

						&:nth-child(5) {

							@media #{$tablet} {
								display: none;								
							}
						}

						@media #{$tablet} {
							width: 25%;
						}

						@media #{$mobile} {
							width: 50%;
							margin-right: 0;
						}

						img {
							display: block;
							margin: 0 auto;
							height: 125px;
							width: 125px;

							@media #{$tablet} {
								width: 75px;
								height: 75px;
							}

							@media #{$mobile} {
								width: 35px;
								height: 35px;
								display: inline-block;
							}
						}

						h4 {
							width: 100%;
							color: rgba($text-color, 0.7);
							text-align: center;

							@media #{$tablet} {
								font-size: 1.25rem;
							}

							@media #{$mobile} {
								width: 65%;
								float: right;
								padding: 0;
								text-align: left;
								padding-top: 0.25rem;
							}
						}
					}
				}

				h3 {
					color: $brand-color;
				}

				.img-container {
					max-width: 500px;

					img {
						width: 100%;
					}
				}

				

				p.caption {
					margin-top: .5rem;
					color: $text-color;
				}

				button.button--gettoknow {
					background: none;
					border: 3px solid $brand-color;
					color: $brand-color;
				}
			}
		}
	}
}