#portfolio-title {
	position:relative;
	z-index: 10;
	top: -10rem;

	.section__start {
		margin-top: 2rem;
		margin-left: 0.5rem;
	}
}

section#portfolio {
	width: 100%;
	top: -22rem;
	position: relative;
	z-index: 3;

	.content-wrapper {
		margin: 0 auto;

		&:nth-child(2) {
			position: relative;
			top: -5rem;
		}

		.portfolio-block {
			
			top: 5rem;
			position: relative;
			min-height: 90vh;
			width: 100%;

			.portfolio-content {
				display: block;
				padding: 15rem 5rem 5rem 0;
				@include flex;
				flex-flow: row nowrap;
				justify-content: space-around;
				max-width: $max-width;
				margin: 0 auto;
			}
			

			.portfolio__image {
				width: 40%;
				z-index: 10;
				transition: opacity 300ms ease-in;

				img {
					width: 100%;
					transform: scaleX(-1);
				}
			}

			.portfolio__description {

				width: 60%;
				margin-top: 1rem;
				z-index: 10;
				transition: opacity 300ms ease-in;

				h1.portfolio__title {
					font-size: 3.5rem;
					display: inline-block;
					color:white;
					line-height: 1.2;
				}

				p.portfolio__info {
					margin: 2rem 0;
					color: white;
					max-width: 400px;
				}

				button.button--case-study {
					background: #FFB921;
					color: white;
				}
			}

			.portfolio__back {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 0;
				width: 100%;

				img {
					width: 100%;
					height: auto;
				}
			}

			&:nth-child(1) {
				background: #33C1A9;
			}

			&:nth-child(2) {
				background: #3F4DBC;
			}

			&:nth-child(3) {
				background: #512F97;
			}

			.portfolio__arrow {
				position: absolute;
				left: calc(50% - 1rem);
				top: 45%;
				z-index: 999;
				cursor: pointer;
				transition: transform 300ms ease-in-out;

				@include on-hover-focus {
					transform: translateX(5px) scale(1.2);
				}

				&.portfolio__arrow--left {
					transform: rotate(180deg);

					@include on-hover-focus {
						transform: rotate(180deg) scale(1.2);
					}
				}
			}
		}
		
		&:nth-child(2) {
			background: white;
			padding: 2rem 2rem 6rem 2rem;
			position: relative;
			top: -10rem;

			.skew--neg {
				max-width: $max-width;
				margin: 0 auto;
			}
		
			.portfolio__gettoknow {
				width: 100%;
				padding: 2rem 0;
				margin: 2rem 0;

				p.caption {
					margin-top: .5rem;
					color: $text-color;
				}

				button.button--gettoknow {
					background: none;
					border: 3px solid $brand-color;
					color: $brand-color;
				}
			}
		}
	}
}